body{
    margin:0;
    background:linear-gradient(180deg,#050816,#0c1430);
    color:white;
    font-family:Arial,sans-serif;
    padding:20px;
    padding-bottom:110px;
}

h1{
    text-align:center;
}

.subtitle{
    text-align:center;
    color:#9ca3af;
    margin-bottom:30px;
}

.page{
    display:none;
}

.page.active{
    display:block;
}

.console-card{
    background:#111827;
    border-radius:20px;
    padding:20px;
    margin-bottom:20px;
    border:1px solid #1f2937;
}

.card{
    background:#111827;
    border-radius:20px;
    padding:20px;
    margin-bottom:15px;
}

.status{
    font-size:14px;
    margin-bottom:10px;
}

.free{
    color:#22c55e;
}

.busy{
    color:#ef4444;
}

.bottom-nav{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    height:90px;
    background:#0b1220;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border-top:1px solid #1f2937;
}

.nav-btn{
    background:none;
    border:none;
    color:#9ca3af;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:5px;
    cursor:pointer;
}

.nav-btn img{
    width:28px;
    height:28px;
    object-fit:contain;
}

.nav-btn.active{
    color:white;
    transform:scale(1.1);
}
