body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    padding:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    margin-bottom:20px;
    border-radius:15px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}